* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    position: relative;
    width: 410px;
    height: 674px;
    background: rgb(195, 192, 188);
    /*display: inline-block;*/
    margin: 30px auto;
    border-bottom-right-radius: 55px;
}

#screen-container {
    position: absolute;
    width: 90%;
    height: 285px;
    background: rgb(142, 136, 142);
    margin-top: 50px;
    left: 20px;
    border-bottom-right-radius: 55px;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    justify-content: space-around;
}

#screen {
    background: rgb(134, 159, 93);
    height: 260px;
    width: 260px;
    margin: auto;
    position: absolute;
    top: 14px;
}

#game {
    width: 156px;
    height: 100%;
    border: 13px solid #3e4c22;
    border-bottom: none;
    border-top: none;
    position: absolute;
}

#button-group{
    position: absolute;
    top: 450px;
}

#circle-key {
    top: 15px;
    position: absolute;
}

#key-left-right, #key-up-down {
    background: black;
    width: 40px;
    height: 120px;
    position: absolute;
    left: 80px
}

#key-left-right {
    transform: rotateZ(90deg);
}

#key-a, #key-b {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: rgb(147, 48, 90);
    left: 340px;
    position: absolute;
}

#key-b {
    top: 35px;
    left: 285px;
}

.block {
    width: 13px;
    height: 13px;
    border: 3px solid;
    position: absolute;
    background-color: darkolivegreen;
}